.timeline {
  background: #f9f9f9;
}

.timeline .timeline_content {
  height: 400px;
}

.timeline .timeline_content .timeline_line {
  width: 50%;
  box-sizing: border-box;
  border-right: 2px dashed #cfcdcd;
  padding-bottom: 40px;
  display: flex;
  position: relative;
  transition: all 1s ease-in-out 0s;
}

.timeline .timeline_content .timeline_line:hover .content_box {
  border: 2px dashed #cfcdcd;
}

.timeline .timeline_content .timeline_line:hover h5 {
  color: #e65f78;
}

.timeline .timeline_content .timeline_line .timeline_yoko {
  width: 20%;
  height: 60px;
  border-bottom: 2px dashed #cfcdcd;
}

.timeline .timeline_content .timeline_line .content_box {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  text-align: right;
  transition: all 0.3s ease 0s;
}

.timeline .timeline_content .timeline_line .content_box h4 {
  color: #e65f78;
  font-size: 15px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.timeline .timeline_content .timeline_line .content_box h5 {
  font-size: 22px;
  line-height: 33px;
  margin-block-start: 0;
  margin-block-end: 0;
  transition: all 0.3s ease 0s;
}

.timeline .timeline_content .timeline_line .content_box p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.timeline .timeline_content .timeline_line:nth-child(2) {
  width: 50.2%;
  box-sizing: border-box;
  border-left: 2px dashed #cfcdcd;
  border-right: none;
  padding-bottom: 40px;
  margin: 0 0 0 auto;
}

.timeline .timeline_content .timeline_line:nth-child(2) .content_second {
  text-align: left;
  margin: 0 0 0 auto;
}

.timeline .timeline_content .timeline_line:first-child::before {
  content: "";
  width: 11px;
  height: 11px;
  background: #cfcdcd;
  box-sizing: content-box;
  border: 5px solid #fff;
  box-shadow: 0 0 0 2px #cfcdcd;
  transform: rotate(45deg);
  position: absolute;
  right: -11px;
  top: -10px;
}

.timeline .timeline_content .timeline_line:last-child::after {
  content: "";
  width: 11px;
  height: 11px;
  background: #cfcdcd;
  box-sizing: content-box;
  border: 5px solid #fff;
  box-shadow: 0 0 0 2px #cfcdcd;
  transform: rotate(45deg);
  position: absolute;
  right: -11px;
  bottom: 0;
}
css/styles.scss

.timeline{
  background: #f9f9f9;
  .timeline_content{
    height:400px;
  }
  .timeline_content{
    .timeline_line{
      width: 50%;
      box-sizing: border-box;
      border-right: 2px dashed #cfcdcd;
      padding-bottom: 40px;
      display: flex;
      position: relative;
      transition: all 1s ease-in-out 0s;
      &:hover .content_box{
        border: 2px dashed #cfcdcd;
      }
      &:hover h5{
        color: #e65f78;
      }

    .timeline_yoko{
      width: 20%;
      height: 60px;
      border-bottom: 2px dashed #cfcdcd;
    }

    .content_box{
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      text-align: right;
      transition: all 0.3s ease 0s;
      h4{
        color: #e65f78;
        font-size: 15px;
        margin-block-start: 0;
        margin-block-end: 0;
      }
      h5{
        font-size: 22px;
        line-height: 33px;
        margin-block-start: 0;
        margin-block-end: 0;
        transition: all 0.3s ease 0s;
      }
      p{
        margin-block-start: 0;
        margin-block-end: 0;
      }
    }
    }
    .timeline_line:nth-child(2){
      width: 50.2%;
      box-sizing: border-box;
      border-left: 2px dashed #cfcdcd;
      border-right: none;
      padding-bottom: 40px;
      margin: 0 0 0 auto;
      .content_second{
        text-align: left;
        margin: 0 0 0 auto;
    }
  }
   .timeline_line:first-child::before{
    content: "";
    width: 11px;
    height: 11px;
    background: #cfcdcd;
    box-sizing: content-box;
    border: 5px solid #fff;
    box-shadow: 0 0 0 2px #cfcdcd;
    transform: rotate(45deg);
    position: absolute;
    right: -11px;
    top: -10px;
   }
   .timeline_line:last-child::after{
    content: "";
    width: 11px;
    height: 11px;
    background: #cfcdcd;
    box-sizing: content-box;
    border: 5px solid #fff;
    box-shadow: 0 0 0 2px #cfcdcd;
    transform: rotate(45deg);
    position: absolute;
    right: -11px;
    bottom: 0;
   }
  }
}