
body {
    margin: 0;
  }
  
  /* 共通要素 */
  .common_subtitle {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  .common_section {
    padding: 70px 5%;
    margin: 0 auto;
  }
  
  /* ヘッダー */
  header {
    /* background: red; */
    height: 100px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: row;
  }
  header .header_title h1 {
    margin-top: 10px;
  }

  header .header_title h1 a:hover {
    color: lightgray;
  }
  header .header_title h1 a {
    text-decoration: none;
    color: black;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    line-height: 30px;
    /* margin-right: 10px; */
    float: left; 
  } 
  
  header nav ul li a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
    
  } 
  
  header nav ul li a:hover {
    color: lightblue;
  }
  
  header nav {
    background: white;
    width: 400px;
    height: 100px;
    color:  black; 
    display: flex;
    float: right;
  }
  
  header nav ul a {
    display: inline;
  }
  
  /*  fv FRom */
  .firstview {
    background: blue;
    height: 600px;
    width: 100%;
    background-image: url(../img/headerpic.jpg);
    background-image: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .firstview .firstview_title {
    margin: auto;
    height: 100px;
    width: 400px;
    /* background: black; */
  }
  .firstview .firstview_title h2 {
    margin: 20px;
    line-height: 2em;
    color: white;
    opacity: 0.7;
  }
  
  .firstview .firstview_title h2 span {
    font-size: 40px;
    color: white;
    opacity: 0.7;
  }
  /* fv To*/
  /* 自己紹介 From */
  .introduction {
    padding: 70px 5%;
    background: white;
    display: flex;
    justify-content: space-between;
    color: black;
  }
  
  .introduction .introduction_img img {
    width: 536px;
    height: 333px;
    border-radius: 10px;
  }
  .introduction .introduction_img p {
  line-height: 0.5em;
  margin-left: 30px;
  color: white;
  text-align: center;
  }
  
  .introduction .introduction_content {
    width: 49%;
    height: 333px;
  }
  .introduction .introduction_content h2, p {
    margin-block-start: 0;
  }
   
  .introduction .introduction_content p {
    text-align: left;
  }
   
  .introduction p.lastP {
    
  }

  .introduction .introduction_content ul {
   list-style: none;
   display: flex;
   padding-inline-start: 0;
   margin-block-end: 0; 
   margin-top: 40px;
  }
  
  .introduction .introduction_content ul li {
    margin-right: 20px;
  }
  
  .introduction .introduction_content ul li a {
    transition: all 0.3s ease 0s;
  }
  .introduction .introduction_content ul li a:hover {
    fill: lightgreen;
  }
  /* 自己紹介 To */
  /* スキル From */
  .skill {
    background: gray;
  }
  
  .skill .skill_content table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background: white;
  }
  
  .skill .skill_content table tr {
    border-bottom: solid 1px #eee;
    cursor: pointer;
    color: black;
  }
  
  .skill .skill_content table tr:hover {
    background-color: lightgreen;
  }
  .skill .skill_content table th, .skill_content table td {
    text-align: center;
    width: 25%;
    padding: 15px 0;
  }
  
  .skill .skill_content table td {
    background-size: 25px;
    background-position: left 70px center;
    background-repeat: no-repeat;
    padding-left: 20px;
  }
  
  .skill .skill_content table td.icon.html {
    background-image: url(../img/html5.png);
  }
  .skill .skill_content table td.icon.css {
    background-image: url(../img/css.png);
  }
  .skill .skill_content table td.icon.js {
    background-image: url(../img/js.png);
  }
  .skill .skill_content table td.icon.vue {
    background-image: url(../img/vue.png);
  }
  .skill .skill_content table td.icon.nuxt {
    background-image: url(../img/nuxt.png);
  }
  .skill .skill_content table td.icon.fire {
    background-image: url(../img/sample.png);
  }
  /* .skill .skill_content {
    height: 400px;
    background: rgba(131, 208, 230);
    color: white;
  }
  
  .skill .skill_content > p {
    opacity: 0.7;
  } */
  /* スキル From */
  /*  制作実績 work To */
  .works {
    background: white;
  }
  
  .works ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 0;
    background: white;
  }
  
  .works ul li {
    border: 2px solid black;
    width: 32%;
    border-radius: 5px;
  }
  
  .works ul li img {
    width: 100%;
    border-radius: 8px 8px  0 0;
  }
  
  .works ul li .card_content {
    padding: 10px 20px;
  }
  
  .works ul li .card_content h3 span a {
    font-size: 14px;
  }
  
  .works ul li .card_content p {
    font-size: 14px;
    text-align: left;
  }
  
  .works ul li .card_content p a:last-child {
    font-size: 12px;
    border-bottom: 1px dashed black;
  }

  .works ul li .card_content .card_number {
    text-align: right;
    font-size: 22px;
  }

  .works .works_title {
    height: 50px;
  }
  /*work To*/
  /* 経歴 carearsheet To*/
  .timeline {
    background: #f9f9f9;
  }
  
  .timeline .timeline_content {
    height: 400px;
  }
  
  .timeline .timeline_content .timeline_line {
    width: 50%;
    box-sizing: border-box;
    border-right: 2px dashed #cfcdcd;
    padding-bottom: 40px;
    display: flex;
    position: relative;
    transition: all 1s ease-in-out 0s;
  }
  
  .timeline .timeline_content .timeline_line:hover .content_box {
    border: 2px dashed #cfcdcd;
  }
  
  .timeline .timeline_content .timeline_line:hover h5 {
    color: #e65f78;
  }
  
  .timeline .timeline_content .timeline_line .timeline_yoko {
    width: 20%;
    height: 60px;
    border-bottom: 2px dashed #cfcdcd;
  }
  
  .timeline .timeline_content .timeline_line .content_box {
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    text-align: right;
    transition: all 0.3s ease 0s;
  }
  
  .timeline .timeline_content .timeline_line .content_box h4 {
    color: #e65f78;
    font-size: 15px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .timeline .timeline_content .timeline_line .content_box h5 {
    font-size: 22px;
    line-height: 33px;
    margin-block-start: 0;
    margin-block-end: 0;
    transition: all 0.3s ease 0s;
  }
  
  .timeline .timeline_content .timeline_line .content_box p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .timeline .timeline_content .timeline_line:nth-child(2) {
    width: 50.2%;
    box-sizing: border-box;
    border-left: 2px dashed #cfcdcd;
    border-right: none;
    padding-bottom: 40px;
    margin: 0 0 0 auto;
  }
  
  .timeline .timeline_content .timeline_line:nth-child(2) .content_second {
    text-align: left;
    margin: 0 0 0 auto;
  }
  
  .timeline .timeline_content .timeline_line:first-child::before {
    content: "";
    width: 11px;
    height: 11px;
    background: #cfcdcd;
    box-sizing: content-box;
    border: 5px solid #fff;
    box-shadow: 0 0 0 2px #cfcdcd;
    transform: rotate(45deg);
    position: absolute;
    right: -11px;
    top: -10px;
  }
  
  .timeline .timeline_content .timeline_line:last-child::after {
    content: "";
    width: 11px;
    height: 11px;
    background: #cfcdcd;
    box-sizing: content-box;
    border: 5px solid #fff;
    box-shadow: 0 0 0 2px #cfcdcd;
    transform: rotate(45deg);
    position: absolute;
    right: -11px;
    bottom: 0;
  }
  
  
  /* 経歴 carearsheet From*/
  /* 問い合わせ contact From */
  .contact {
    background: white;
    padding: 70px  5%;
    width: 40%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  
  .contact .contact_title {
    margin-bottom: 40px;
  }
  
  .contact .contact_title h2,p {
    text-align: center;
  }
  /* .contact form {
    width: auto;
    height: auto;
    background-color: lightgreen;
  } */

  input {
      background-color: rgb(240, 165, 178);
      width: 100%;
      height: 35px;
      margin-bottom: 20px;
      border-radius: 2px;
  }
  .checkbox {
    margin: 0 auto;
  }
  textarea {
    width: 100%;
    height: 105px;
    margin-bottom: 20px;
    background-color: rgb(240, 165, 178);
    border-radius: 2px;
  }

  label a {
      border-bottom: 1px solid;
  }
  
  input.check {
    width: 20px;
    height: 20px;
  }


  button {
      width: 250px;
      height: 40px;
      border-radius: 25px;
      background-color: black;
      color: white;
      display: inline;
  }

  .contact button:hover {
    opacity: 0.9;
    color: #ed94e1;
    cursor: pointer;
    display: inline;
  } 

  /* 問い合わせ contact ここまで */
  /* フッター */
  footer {
    padding: 20px 0;
    background: black;
  }
  
  footer ul {
    width: 400px;
    height: 50px;
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
   footer li {
    list-style: none;
  }
  
  
  .contact form .checkbox {
    position: absolute;
    left: 0%;
  }  
  
  footer ul li a {
    text-decoration: none;
    /* background-color:white; */
    opacity: 3;
  }
  
  footer p {
    text-align: center;
    color: white;
  
  }

